// NOTE:
// This Sass file controls the article colour and main page header
// ---------------------------------------------------------------

// Article Titles (Interpolation)

$page-1: about;
$page-2: motorcycle-security;
$page-3: how-to-buy-the-best-motorcycle-clothing;
$page-4: staying-alive;
$page-5: top-10-hazards;
$page-6: how-motorcycle-insurance-works;
$page-7: how-to-maintain-your-motorbike;
$page-8: motorcycle-clubs-directory;
$page-9: routes-to-riding;
$page-10: how-to-buy-a-motorbike;
$page-11: competition;
$page-12: highway-code-quiz;
$page-13: motorcycle-clothing;
$page-14: fire-bike;
$page-15: biker-down;
// Article Styling

##{$page-1} {
    @include article-style($alizarin-crimson, $page-1);
}

##{$page-2} {
    @include article-style($alizarin-crimson, $page-2);
}

##{$page-3} {
    @include article-style($alizarin-crimson, $page-3);
}

##{$page-4} {
    @include article-style($alizarin-crimson, $page-4);
}

##{$page-5} {
    @include article-style($alizarin-crimson, $page-5);
}

##{$page-6} {
    @include article-style($alizarin-crimson, $page-6);
}

##{$page-7} {
    @include article-style($alizarin-crimson, $page-7);
}

##{$page-8} {
    @include article-style($alizarin-crimson, $page-8);
}

##{$page-9} {
    @include article-style($alizarin-crimson, $page-9);
}

##{$page-10} {
    @include article-style($alizarin-crimson, $page-10);
}

##{$page-11} {
    @include article-style($alizarin-crimson, $page-11);
}

##{$page-12} {
    @include article-style($alizarin-crimson, $page-12);
}

##{$page-13} {
    @include article-style($alizarin-crimson, $page-13);
}

##{$page-14} {
    @include article-style($alizarin-crimson, $page-14);
}

##{$page-15} {
    @include article-style($alizarin-crimson, $page-15);
}