// NOTE:
// This Sass file controls the article colour and main page header
// ---------------------------------------------------------------

// Article Titles (Interpolation)

$page-1: about;
$page-2: motorcycle-security;
$page-3: how-to-buy-the-best-motorcycle-clothing;
$page-4: staying-alive;
$page-5: top-10-hazards;
$page-6: how-motorcycle-insurance-works;
$page-7: how-to-maintain-your-motorbike;
$page-8: motorcycle-clubs-directory;
$page-9: routes-to-riding;
$page-10: how-to-buy-a-motorbike;
$page-11: competition;
$page-12: highway-code-quiz;
$page-13: motorcycle-clothing;
$page-14: fire-bike;
$page-15: biker-down;
$page-16: how-to-save-money;
$page-17: ten-of-the-best;

// Article Styling
