/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 500px;
  height: 50px;
  font-size: 1.2rem;
  line-height: 50px;
  font-weight: 800;
  border: 2px solid;
  cursor: pointer;
  transition: all .1s cubic-bezier(.33,.66,.66,1);
}



.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: white;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  padding: 0 30px;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
 }

.button-secondary {
  padding: 0 25px;
  &.button-icon:before {
    font-size: 1.8rem;
  }
}

.button-tertiary {
  height: 42px;
  border: 2px solid $black-pearl;
  line-height: 40px;
}

.button-social {
  display: inline-block;
  // text-indent: -9999px;
  &:hover, &:focus svg.icon {
    fill: #fff;
  }
  &:nth-child(n+2) {
    margin-left: -6px;
  }
}

.button-facebook {
  &:hover, &:focus {
    background: #3b5998;
  }
}

.button-twitter {
  &:hover, &:focus {
    background: #55acee;
  }
}

.button-email {
  &:hover, &:focus {
    background: $alizarin-crimson;
  }
}


.button-icon{
  &:before {
    margin-right: 10px;
    }
  &:after {
    @include icon;
    content: "▻";
    margin-left: 5px;
    }
  &:hover::after {
    margin-left: 15px;
  }
}

.button-small {
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  &.button-icon:before {
    font-size: 1.4rem;
  }
}

.button-large {
  font-size: 1.6rem;
  line-height: 60px;
  height: 60px;
}



.button-campfire:before {
  @include icon;
  content: "🔥";
}

.button-star:before {
  @include icon;
  content: "⋆";
}

.button-info:before {
  @include icon;
  content: "ℹ";
}

.button-clipboard:before {
  @include icon;
  content: "";
}

.button-visit:before {
  @include icon;
  content: "";
}
