/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

.car-animation {
    margin-bottom: 40px;
    img {
        max-width: 100%;
    }
    
    .car {
        display: block;
        margin: -100px auto 0;
        clear: both;
    }

    .rollout {
        width: 21%;
        margin: 2%;
        text-align: center;
        padding: 0 20px;
        float: left;
        
        &:nth-of-type(2){
            float: right;
        }
        
        @media (max-width: $tablet-breakpoint) {
            width: 70%;
            margin: 0 15%;
            
            &.last {
                float: right;
            }
        }
    }
}



/*------------------------------------*\
    #MISC
\*------------------------------------*/
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.centered-text {
    text-align: center;
}

/*------------------------------------*\
    #CLEARING
\*------------------------------------*/

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf,
.group {
  content: "";
  display: table;
  clear: both; }
