/*------------------------------------*\
    #SPACING
\*------------------------------------*/
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.style-tile-section {
  margin: 5rem 0;
}

.key-point-row {
  margin: 4rem 0;
}

.lined {
  margin: 6rem auto;
}

.container-margin-top {
  margin-top: 30px;
}
